**/build/*
*/bin/*
gradle/
.*
gradlew.bat
gradlew
!/.gitignore
out/
*/build/*
*.gz
client-java-api/*
swagger-codegen-cli.jar
!/client-java-api/build.gradle
*.iml
/build/
/navent-cv-search.ipr
*.iws
target
